{% load static %}
<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #D6EEEE;
        }
    </style>
</head>

<body style="background-color:silver;">
    <center>
        <img src="{% static 'nulogo.png' %}" width="150" height="150">
        <form action="#" method="post">{% csrf_token %}
        </form>
        <div class="form-popup" id="myForm">
            <form action="/action_page.php" class="form-container">
                <center><h1>ยืมสินค้า</h1></center>
    
                <label for="product_id"><b>รหัสสินค้า</b></label>
                <input type="text" placeholder="กรอกรหัสสินค้า" name="product_id" required>
            <div>
                <label for="amount_borrow"><b>จำนวนที่จะยืม</b></label>
                <input type="text" placeholder="กรอกจำนวนที่จะยืม" name="amount_borrow" required>
            </div>
           <div>
                <button type="submit" class="btn">ตกลง</button>
                <button type="button" class="btn cancel" onclick="closeForm()">ปิด</button>
            </div>
            </form>
        </div>
        <button>
            <a href="{% url 'index'%}">กลับหน้าหลัก</a>
        </button> 
    </center>


    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>
</body>

</html>