{% load static %}
<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #D6EEEE;
        }
    </style>
</head>

<body style="background-color:silver;">
    <center>
        <img src="{% static 'nulogo.png' %}" width="150" height="150">
        <h1>Table of stock</h1>
        <form action="#" method="post">{% csrf_token %}
            <div class="form-group first">
                <input autocomplete="off" type="text" placeholder="Enter product id" name="product_id">
            </div>

            <div class="form-group 2">
                <input autocomplete="off" type="text" placeholder="Enter product name" name="product_name">
            </div>

            <div class="form-group 3">
                <input autocomplete="off" type="text" placeholder="Enter unit name" name="unit_name">
            </div>

            <div class="form-group 4">
                <input autocomplete="off" type="number" placeholder="Enter amount" name="amount">
            </div>

            <div class="form-group 5">
                <input autocomplete="off" type="number" placeholder="Enter status id" name="status_id">
            </div>
            <input type="submit" name="insert" value="submit">

            <div class="form-group 6">
                <input type="text" placeholder="Enter products id (search):"
                    name="product_id_search" id="liveSearch" onkeyup="searchFunction()">
            </div>
            <!-- <input type="submit" name="search" value="Search"> -->
            <!-- <button type="button">
                <a href="{% url 'search'%}">Go to search </a>
            </button> -->
        </form>
        <table id="myTable">
            <thead>
                <tr>
                    <th>product id</th>
                    <th>product name</th>
                    <th>unit name</th>
                    <th>amount</th>
                    <th>status id</th>
                    <th>Edit</th>
                    <th>Delete</th>

                </tr>
            </thead>

            {% for instance in data %}
            <tr>
                <td>
                    {{ instance.product_id}}
                </td>

                <td style="text-align:left;">
                    {{ instance.product_name}}
                </td>
                <td>
                    {{ instance.unit.unit_name}}
                </td>
                <td>
                    {{ instance.amount}}
                </td>
                <td>
                    {% if instance.status_id == 1 %}
                        พร้อมใช้งาน
                    {% else %}
                        <font color="red">ไม่พร้อมใช้งาน</font>
                    {% endif %}
                </td>
                <td class="text_center">
                    <div class="btn_group">
                        <a href=""> Edit </a>
                    </div>
                </td>
                <td class="text_center">
                    <div class="btn_group">
                        <a href="/delete/{{instance.product_id}}" onclick="return confirm('Are you sure to delete?')">Delete</a>
                    </div>
                </td>
            </tr>

            {% endfor %}

        </table>
        <p id="msg"></p>
    </center>
    <script>
        function searchFunction(){
            let input , filter , table , td , tr , j;
            input = document.getElementById("liveSearch");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            console.log(filter);
            for(j=0 ; j < tr.length ; j++){
                td = tr[j].getElementsByTagName("td");

                if (td.length > 0){
                    if (td[0].innerHTML.toLocaleUpperCase().indexOf(filter) > -1 || 
                        td[1].innerHTML.toLocaleUpperCase().indexOf(filter) > -1 
                    ){
                        tr[j].style.display = ""
                    }
                    else {
                        tr[j].style.display = "none"
                    }
                }
                if (td.length == 0){
                    msg.innerHTML = "not found";
                }
            }
        }
    </script>
        

</body>

</html>