
<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                }
        </style>
    </head>
    <body>
        {% comment %} {% for instance in data %}
         {{instance.unit_id}}
        {% endfor %} {% endcomment %}
        <h1>Table of stock</h1>
        <table>
            <thead>
                <tr>
                    <th>
                        product_id
                    </th>
                    <th>
                        product_name
                    </th>
                    <th>
                        unit_id
                    </th>
                    <th>
                        amount
                    </th>
                    <th>
                        status_id

                </tr>
            </thead>

            {% for instance in data %}
                <tr>
                    <td>
                        {{ instance.product_id}}
                    </td>

                    <td>
                        {{ instance.product_name}}
                    </td>
                    <td>
                        {{ instance.unit.unit_name}} 
                    </td>
                    <td>
                        {{ instance.amount}}
                    </td>
                    <td>
                        {{ instance.status_id}}
                    </td>
                </tr>
            {% endfor %}

        </table>

    </body>
</html>